<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benstagram</title>

    <link rel="stylesheet" href="../../../stylesheets/normalize.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
  <link rel="stylesheet" href="../../../stylesheets/lib.css">
</head>
<body>
    <header>
        <h1> Benstagram </h1> 
    </header>

    <main role="main">
        <article class="finstagram-post">
            <div class= "user-info">
                <img src="https://learningimages.lighthouselabs.ca/flickr-assets/52358606250_01c667c5da_w.jpg" alt="sharky_j">
                <h2>sharky_j</h2> 
                <!-- The h2 is going to be the username for a Benstagram post  -->
                <h3>15 minutes ago</h3>
            </div> 
            <a class="photo" href="#">
                <img src= "https://learningimages.lighthouselabs.ca/flickr-assets/52358421508_786aa10e2c_c.jpg" alt="post from sharky_j">
            </a>
            <div class="actions">
                0 likes
                <span class="comment-count"> 0 comments </span>
        
            </div>
            <ul class="comments">
                <li>
                    <p> sharky_j: Omg I saw sharks! 
                    </p>
                </li>
            </ul>
        </article>
    </main>

  


</body>
</html>